*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.App{
 width: 100vw;
 height: 100vh;
 display: flex;
 align-items: center;
}

.left{
  display: flex;
  width: 50vw;
}